/*
#A49592 - warm gray
#94618E - grape
#49274A - eggplant
#A7D2CB - clean
*/
/*
#A49592 - warm gray
#94618E - grape
#49274A - eggplant
#A7D2CB - clean
*/
body {
  padding-top: 76px; }

section {
  padding: 85px 0; }

i {
  padding: 0 1rem; }

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7)), url("../assets/img/Feet_in_Hands.jpg");
  position: relative;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .hero .hero-text {
    padding: 3rem 1.5rem; }

.cards {
  margin-top: -100px; }

.contact {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url(../assets/img/the_stone_wall.jpg);
  position: relative;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 45vh; }
