/* #card-fade{
	ScrollMagic styles
	opacity: 0;
	transform: translateY(50px);
	transition: all 0.5s ease-in-out;
} */

@include media-breakpoint-up(sm) {
	.cards{
		margin-top: -150px;
		z-index: 3;
	}
}

.cards{
	margin-bottom: 20px;
}

@include media-breakpoint-down(sm) {
	.cards{
    text-align: center;
  }
}
