/*
#A49592 - warm gray
#94618E - grape
#49274A - eggplant
#A7D2CB - clean
*/

html, body{
	overflow-x: hidden;
}

@include media-breakpoint-up(sm) {
	body{
		/* background: red; */
		padding-top: 56px; /* new style for header-test.php */
		background: $light;
	}
	.mfb-component--br{
		display: none;
	}
};

@include media-breakpoint-down(sm) {
	.hero, .contact{
		background-attachment: scroll;
	}
	.alert{
		margin-top: 49px;
	}
};

section{
	padding: 50px 0 30px;
}

.nav-facebook:hover, .nav-facebook:focus {
  color: #3b5998;
}

.nav-insta:hover, .nav-facebook:focus {
  color: #e1306c;
}

.nav-linkedin:hover, .nav-facebook:focus {
  color: #0077b5;
}
