/*
#A49592 - warm gray
#94618E - grape
#49274A - eggplant
#A7D2CB - clean
*/

@include media-breakpoint-up(sm) {
	body{
		/* background: red; */
		padding-top: 130px;
		background: $light;
	}
	.mfb-component--br{
		display: none;
	}
};

section{
	padding: 85px 0;
}
